html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: content-box;
}
html {
  font-size: 100%;
  background: url('../images/bg.jpg') no-repeat center fixed;
  background-size: cover;
}
body {
  width: 100%;
  display: flex;
  flex-flow: column;
}
html,
body {
  font-family: 'Varela Round', sans-serif;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  font-family: 'Fredoka One', cursive;
}
h2,
h3 {
  font-family: 'Red Hat Text', sans-serif;
}
button {
  font-family: 'Red Hat Text', sans-serif;
}
ul {
  display: flex;
  align-self: center;
  width: auto;
}
ul li {
  list-style: none;
  text-align: center;
  display: block;
  border-right: 1px solid #5C9EAD;
}
ul li:last-child {
  border-right: none;
}
ul li a {
  text-decoration: none;
  padding: 0 10px;
  display: block;
}
ul li a:hover .icon .fa {
  transform: translateY(-100%);
}
ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
}
ul li a .name span {
  display: block;
  position: relative;
  color: #035E7B;
  font-size: 15px;
  line-height: 20px;
  transition: 0.5s;
}
ul li a .name span:before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #E39774;
}
ul li a:hover .name span {
  transform: translateY(20px);
}
ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 25px;
  transition: 0.5s;
  color: #035E7B;
}
ul li a .icon .fa:last-child {
  color: #E39774;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #E39774;
  color: rgba(255, 255, 255, 0.404);
  width: 100%;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 0;
  font-family: 'Varela Round', sans-serif;
}
.headerNavBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #eeeeee;
  padding: 0 0px 0 10px;
  position: fixed;
  width: 100%;
  border-bottom: solid #5C9EAD 5px;
  z-index: 1;
}
.headerNavBar .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #eeeeee;
}
.headerNavBar .toolbox {
  align-self: center;
  width: 32px;
  height: 26px;
  margin: 0px 5px 0px 0px;
}
@media (min-width: 800px) {
  .headerNavBar .toolbox {
    align-self: center;
    width: 52px;
    height: 46px;
    margin: 8px 0px 8px 0px;
  }
}
@media (min-width: 1000px) {
  .headerNavBar .toolbox {
    align-self: center;
    width: 62px;
    height: 56px;
    margin: 10px 0px 10px 0px;
  }
}
.headerNavBar h1 {
  align-self: center;
  color: #E39774;
  font-size: 33px;
}
@media (min-width: 800px) {
  .headerNavBar h1 {
    align-self: center;
    color: #E39774;
    font-size: 3.5rem;
  }
}
@media (min-width: 1000px) {
  .headerNavBar h1 {
    align-self: center;
    color: #E39774;
    font-size: 4.5rem;
  }
}
.allGuides {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .allGuides {
    width: 500px;
    align-self: center;
  }
}
.allGuides .topGuide {
  display: flex;
  margin: 65px 0 0 0;
}
@media (min-width: 800px) {
  .allGuides .topGuide {
    margin: 10rem 0 0 0;
  }
}
.allGuides .topGuide:hover .overlay {
  opacity: 1;
}
.allGuides .topGuide:hover img {
  -webkit-filter: blur(2px);
  filter: blur(5px);
}
.allGuides .topGuide img,
.allGuides .topGuide .overlay {
  transition: 0.5s all;
}
@media (min-width: 800px) {
  .allGuides .topGuide img,
  .allGuides .topGuide .overlay {
    border-radius: 13px;
  }
}
.allGuides .topGuide a {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #eeeeee;
  background-color: #5C9EAD;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 5px solid #eeeeee;
  text-decoration: none;
}
@media (min-width: 800px) {
  .allGuides .topGuide a {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.allGuides .topGuide a:hover {
  box-shadow: 0 10px 40px #ffffff;
  border-radius: 13px;
  transition: 0.5s all;
}
@media (min-width: 800px) {
  .allGuides .topGuide a {
    width: 31.23rem;
    font-size: 3rem;
  }
  .allGuides .topGuide a:hover {
    box-shadow: 0 10px 60px #ffffff;
  }
}
.allGuides hr {
  width: 100%;
  border: 2px solid #035E7B;
  border-radius: 13px;
  margin: 15px 0 15px;
}
@media (min-width: 800px) {
  .allGuides .subGuides {
    margin-bottom: 100px;
  }
}
.allGuides .subGuides .subGuide {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 100%;
}
@media (min-width: 800px) {
  .allGuides .subGuides .subGuide {
    margin: 10px 0 10px;
  }
}
.allGuides .subGuides .subGuide:hover .overlay {
  opacity: 1;
}
.allGuides .subGuides .subGuide:hover img {
  -webkit-filter: blur(2px);
  filter: blur(5px);
}
.allGuides .subGuides .subGuide img,
.allGuides .subGuides .subGuide .overlay {
  transition: 0.5s all;
}
@media (min-width: 800px) {
  .allGuides .subGuides .subGuide img,
  .allGuides .subGuides .subGuide .overlay {
    border-radius: 13px;
  }
}
.allGuides .subGuides .subGuide a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #eeeeee;
  background-color: #5C9EAD;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 5px solid #eeeeee;
  text-decoration: none;
}
.allGuides .subGuides .subGuide a:hover {
  box-shadow: 0 10px 30px #ffffff;
  transition: 0.5s all;
  border-radius: 13px;
}
@media (min-width: 800px) {
  .allGuides .subGuides .subGuide a {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
  }
  .allGuides .subGuides .subGuide a:hover {
    box-shadow: 0 10px 60px #ffffff;
  }
}
.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-self: center;
  margin: 20px 0 14px 0px;
  position: fixed;
}
@media (min-width: 800px) {
  .buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-self: center;
    margin: 20px 0px 15px 0px;
    top: 85%;
  }
}
.buttons button {
  background-color: #5C9EAD;
  color: #eeeeee;
  font-size: 2.5rem;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px;
}
.buttons button a {
  text-decoration: none;
  color: #eeeeee;
}
.buttons button:hover {
  cursor: pointer;
  color: #b3ebfd;
  background-color: #a0c6cf;
}
