
.imageLogo(@justify,@align,@width,@padding) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    width: @width;
    padding: @padding;
}

.images(@align, @width, @borderRadius) {
    align-self: @align;
    width: @width;
    border-radius: @borderRadius;
}

.headerText(@align, @color, @txtSize) {
    align-self: @align;
    color: @color;
    font-size: @txtSize;
}

.header(@justify,@align, @color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

.section(@justify, @align, @flow, @margin, @txtAlign) {
    display: flex;
    justify-content: @justify;
    align-self: @align;
    flex-flow: @flow;
    margin: @margin;
    text-align: @txtAlign;
}

.sectionText(@fntSize, @txtColor, @bgColor) {
    font-size: @fntSize;
    color: @txtColor;
    background-color: @bgColor;
    border-radius: 7px;
    padding: 10px;
}

.buttons(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

.footer(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
    font-family: 'Varela Round', sans-serif;
}

