
.images(@justify,@align, @width) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    max-width: @width;
}

.header(@justify,@align, @color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @main-bg
}

.buttons(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

.footer(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
    font-family: 'Varela Round', sans-serif;
}

