
.images(@justify,@align, @width) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
}

.header(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

.buttons(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

.footer(@justify,@align,@color) {
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @color;
}

